footer.footer
    .container
        .flex__wrapper
            a.footer__logo(href='/' title='logo')
                svg(width="238" height="69" viewBox="0 0 238 69" fill="none")
                    use(xlink:href='./images/sprite.svg#logo')
            .footer__phone
                svg(width="15" height="25" viewBox="0 0 15 25" fill="#61666B")
                    use(xlink:href='./images/sprite.svg#phone_2')
                a(href='tel:+74957852791') +7 (495) <b>785-27-91</b>