header.header
    .container
        .header__info
            a.header__logo(href='/' title='logo')
                svg(width="238" height="69" viewBox="0 0 238 69" fill="none")
                    use(xlink:href='./images/sprite.svg#logo')
            .header__phone
                svg(width="15" height="25" viewBox="0 0 15 25" fill="#F8BE4D")
                    use(xlink:href='./images/sprite.svg#phone_2')
                a(href='tel:+74957852791') +7 (495)
                    span  785-27-91