section.main
    .container
        .flex__wrapper
            .main__info
                h1
                    span Статус
                    |  Премиум.
                h2 Премиальный формат обслуживания
                button Стать премиальным клиентом
                p Назовите промокод #premium при обращении и получите скидку 15%
                p Бесплатная парковка для владельцев карт премиального обслуживания STATUS Premium
            .main__form
                form
                    p Перезвоним в течение 5 минут
                    .form__inputs
                        input
                        input
                    button Заказать звонок