section.main
    .container
        .flex__wrapper
            .main__info
                h1.main__title
                    span Статус
                    |  Премиум
                h2.main__text Премиальный формат обслуживания
                button.main__button Стать премиальным клиентом
                p.main__extra Назовите промокод
                    span  #premium
                    |  при обращении и получите
                    span  скидку 15%
                p.main__extra
                    span Бесплатная
                    |  парковка для владельцев карт премиального обслуживания
                    span  STATUS Premium
            .float__form
                    form.form(id='main-form' action='#' method='#')
                        fieldset
                            .form__wrapper
                                p.form__title Перезвоним в течение 5 минут
                                input.form__input(type='text' name='user' placeholder='Ваши фамилия, имя, отчество*' required)
                                input.form__input(type='tel' name='phone' placeholder='Ваш телефон*' required)
                            legend
                                button.form__button(type='submit') Заказать звонок
            include _popup