section.privileges
    .container
        h2 Привилегии
        .flex__wrapper
            .privileges__card
                img(src='./images/card.webp')
            .privileges__info
                h3 Бесплатная парковка
                p При обслуживании в офисе для владельцев карт премиального обслуживания STATUS Premium
        h3 Запланировать встречу
        form.privileges__form
            input
            input
            button Запланировать встречу