section.privileges
    .container
        .privileges__block
            h2 Привилегии
            .flex__wrapper
                .privileges__card
                    img(src='./images/card.webp' alt='')
                .privileges__info
                    h3.privileges__title Бесплатная парковка
                    p.privileges__text При обслуживании в офисе для владельцев карт премиального обслуживания
                        span  STATUS Premium
        .privileges__form
            h2.form__title Запланировать встречу
            form.form
                input.form__input(type='text' name='user' placeholder='Ваши фамилия, имя, отчество*' required)
                input.form__input(type='tel' name='phone' placeholder='Ваш телефон*' required)
                button.form__button(type='submit') Запланировать встречу