section.services
    .container
        h2 Премиальное обслуживание
        .flex__wrapper
            .services__item
                svg.services__icon(width="238" height="69" viewBox="0 0 238 69" fill="#F8BE4D")
                    use(xlink:href='./images/sprite.svg#team')
                h3.services__title Без очереди
                p.services__text Обслуживание в выделенной зоне
                p.services__text Предоставление отдельного кабинета для переговоров
            .services__item
                svg.services__icon(width="238" height="69" viewBox="0 0 238 69" fill="#F8BE4D")
                    use(xlink:href='./images/sprite.svg#man')
                h3.services__title Персональный менеджер
                p.services__text Индивидуальный подход к решению Ваших задач
                p.services__text Информационная поддержка
            .services__item
                svg.services__icon(width="238" height="69" viewBox="0 0 238 69" fill="#F8BE4D")
                    use(xlink:href='./images/sprite.svg#chat')
                h3.services__title Экспертное консультирование
                p.services__text Предварительная экспертиза
                p.services__text Подготовка необходимых документов
            .services__item
                svg.services__icon(width="238" height="69" viewBox="0 0 238 69" fill="#F8BE4D")
                    use(xlink:href='./images/sprite.svg#clock')
                h3.services__title Исполнение операций  в срок
                p.services__text Исполнение операций в день предоставления документов
                p.services__text Выезд к клиенту
                p.services__text Доставка документов курьером