section.services
    .container
        h2 Премиальное обслуживание
        .flex__wrapper
            .services__item
                svg(width="238" height="69" viewBox="0 0 238 69" fill="none")
                    use(xlink:href='./images/sprite.svg#team')
                h3 Без очереди
                p Обслуживание в выделенной зоне
                p Предоставление отдельного кабинета для переговоров
            .services__item
                svg(width="238" height="69" viewBox="0 0 238 69" fill="none")
                    use(xlink:href='./images/sprite.svg#man')
                h3 Персональный менеджер
                p Индивидуальный подход к решению Ваших задач
                p Информационная поддержка
            .services__item
                svg(width="238" height="69" viewBox="0 0 238 69" fill="none")
                    use(xlink:href='./images/sprite.svg#chat')
                h3 Экспертное консультирование
                p Предварительная экспертиза
                p Подготовка необходимых документов
            .services__item
                svg(width="238" height="69" viewBox="0 0 238 69" fill="none")
                    use(xlink:href='./images/sprite.svg#clock')
                h3 Исполнение операций  в срок
                p Исполнение операций в день предоставления документов
                p Выезд к клиенту
                p Доставка документов курьером