section.steps
    .container
        h2 Как стать премиальным клиентом
        .flex__wrapper
            .step
                p.step__number 01
                .step__desc
                    svg(width="60" height="60" viewBox="0 0 60 60" fill="none")
                        use(xlink:href='./images/sprite.svg#paper')
                    p Закажите звонок или заполните заявку
            .step
                p.step__number 02
                .step__desc
                    svg(width="60" height="60" viewBox="0 0 60 60" fill="none")
                        use(xlink:href='./images/sprite.svg#phone')
                    p Мы перезвоним Вам в течение 5 минут
            .step
                p.step__number 03
                .step__desc
                    svg(width="60" height="60" viewBox="0 0 60 60" fill="none")
                        use(xlink:href='./images/sprite.svg#support')
                    p Персональный менеджер предложит набор услуг согласно Вашим задачам
        .flex__wrapper
            .step__image
                img(src='./images/group_1.webp')
                p Назовите промокод #premium при обращении и получите скидку 15%
            .step__form
                h3 Вы получаете
                p Приоритетное обслуживание, быстрые экспертные решения
                form
                    p Стать премиальным клиентом
                    input
                    input
                    button Стать клиентом