section.support
    .container
        h2 Индивидуальная поддержка
        .flex__wrapper
            .support__item
                .support__img
                    img(src='./images/cay.webp' alt='')
                h3.support__name Андрей Цай
                p.support__text Директор по работе с ключевыми клиентами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 414
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Tsay-AY@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/fedotova.webp' alt='')
                h3.support__name Юлия Федотова
                p.support__text Директор по работе с клиентами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 424
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') fedotova-jb@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/matveev.webp' alt='')
                h3.support__name Никита Матвеев
                p.support__text Начальник управления по работе с ключевыми клиентами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 279
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Matveev-NS@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/orlov.webp' alt='')
                h3.support__name Артем Орлов
                p.support__text Менеджер управления по работе с ключевыми клиентами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 419
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Orlov-AR@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/alekseenkova.webp' alt='')
                h3.support__name Наталья Алексеенкова
                p.support__text Ведущий специалист отдела по работе с корпоративными клиентами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 209
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Alekseenkova-NA@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/konovalova.webp' alt='')
                h3.support__name Ольга Коновалова
                p.support__text Начальник отдела по работе с зарегистрированными лицами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 225
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Konovalova-ON@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/cygankov.webp' alt='')
                h3.support__name Александр Цыганков
                p.support__text Ведущий специалист отдела по работе с корпоративными клиентами
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 224
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Tsigankov-AS@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/zernova.webp' alt='')
                h3.support__name Екатерина Зернова
                p.support__text Начальник контакт-центра
                .support__contacts
                    .support__phone
                        svg(width="18" height="18" viewBox="0 0 20 20" fill="none")
                            use(xlink:href='./images/sprite.svg#handset')
                        a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 418
                    .support__email
                        svg(width="18" height="18" viewBox="0 0 18 18" fill="none")
                            use(xlink:href='./images/sprite.svg#at')
                        a(href='mailto:Tsay-AY@rostatus.ru') Zernova-EY@rostatus.ru