section.support
    .container
        h2 Индивидуальная поддержка
        .flex__wrapper
            .support__item
                .support__img
                    img(src='./images/cay.webp')
                .support__info
                    h3 Андрей Цай
                    p Директор по работе с ключевыми клиентами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 414
                    a(href='mailto:Tsay-AY@rostatus.ru') Tsay-AY@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/fedotova.webp')
                .support__info
                    h3 Юлия Федотова
                    p Директор по работе с клиентами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 424
                    a(href='mailto:Tsay-AY@rostatus.ru') fedotova-jb@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/matveev.webp')
                .support__info
                    h3 Никита Матвеев
                    p Начальник управления по работе с ключевыми клиентами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 279
                    a(href='mailto:Tsay-AY@rostatus.ru') Matveev-NS@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/orlov.webp')
                .support__info
                    h3 Артем Орлов
                    p Менеджер управления по работе с ключевыми клиентами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 419
                    a(href='mailto:Tsay-AY@rostatus.ru') Orlov-AR@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/alekseenkova.webp')
                .support__info
                    h3 Наталья Алексеенкова
                    p Ведущий специалист отдела по работе с корпоративными клиентами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 209
                    a(href='mailto:Tsay-AY@rostatus.ru') Alekseenkova-NA@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/konovalova.webp')
                .support__info
                    h3 Ольга Коновалова
                    p Начальник отдела по работе с зарегистрированными лицами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 225
                    a(href='mailto:Tsay-AY@rostatus.ru') Konovalova-ON@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/cygankov.webp')
                .support__info
                    h3 Александр Цыганков
                    p Ведущий специалист отдела по работе с корпоративными клиентами
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 224
                    a(href='mailto:Tsay-AY@rostatus.ru') Tsigankov-AS@rostatus.ru
            .support__item
                .support__img
                    img(src='./images/zernova.webp')
                .support__info
                    h3 Екатерина Зернова
                    p Начальник контакт-центра
                    a(href='tel:+74952800487') +7 (495) 280-04-87 доб. 418
                    a(href='mailto:Tsay-AY@rostatus.ru') Zernova-EY@rostatus.ru