@font-face {
  font-family: 'Lato';
  src: url('Lato-Black.eot') format('eot'),
  url('Lato-Black.woff2') format('woff2'),
  url('Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Bold.eot') format('eot'),
  url('Lato-Bold.woff2') format('woff2'),
  url('Lato-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Regular.eot') format('eot'),
  url('Lato-Regular.woff2') format('woff2'),
  url('Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Light.eot') format('eot'),
  url('Lato-Light.woff2') format('woff2'),
  url('Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Heavy.eot') format('eot'),
  url('Lato-Heavy.woff2') format('woff2'),
  url('Lato-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lato';
  src: url('Lato-Thin.eot') format('eot'),
  url('Lato-Thin.woff2') format('woff2'),
  url('Lato-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

