doctype html
html.no-js(lang='ru')
    include components/_head
    body
        .bg
            include components/_header
            include components/_main
        include components/_services
        include components/_privileges
        include components/_support
        include components/_steps
        include components/_footer