*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  font-family: Lato, sans-serif;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-color;
  color: $font-color;
  line-height: 1.2;
}

body > * {
  flex: 0 0 auto;
  width: 100%;
}

[type='text'],
[type='password'],
[type='date'],
[type='datetime'],
[type='datetime-local'],
[type='month'],
[type='week'],
[type='email'],
[type='number'],
[type='search'],
[type='tel'],
[type='time'],
[type='url'],
[type='color'],
textarea {
  box-shadow: none;
  border: none;
  //height: $global-input-height;

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
  }
}

a {
  text-decoration: none;
  color: $font-color;
  transition: 0.5s;

  &:hover {
    opacity: 0.5;
    transition: 0.5s;
  }
}

ul {
  list-style: none;
}

button {
  background-color: unset;
  border-radius: 5px;
  border: 1px solid $secondary-color;
  padding: 20px;
  width: 302px;
  color: $font-color;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s;

  @media (max-width: $extra-small) {
    width: auto;
  }

  &:hover {
    background-color: $secondary-color;
    color: $bg-color;
    transition: 0.5s;
  }
}

section {
  margin-bottom: 75px;
}

h2 {
  color: $font-color;
  text-align: center;
  font-style: normal;
  font-weight: 300;
  padding: 32px 0;
  font-size: calc( (100vw - 360px) / (1440 - 360) * (38 - 25) + 25px);

  @media (max-width: $small) {
    padding: 0;
  }
}

.bg {
  background: linear-gradient(180deg, rgba(18, 25, 32, 0.0) 0%, $bg-color 100%), url("../images/bg_main.png") no-repeat;
  background-size: cover;

  @media (max-width: $xlarge) {
    background-position: center;
  }

  @media (max-width: $medium) {
    background-position: 55%;
  }
}

.flex__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}