.footer {
  background-color: #0D141B;
  padding: 34px 0;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: $small) {
    gap: 20px;
    justify-content: center;
  }
}

.footer__logo {
  opacity: 0.35;
}

.footer__phone {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 22px;
  margin-right: 32px;

  @media (max-width: $medium) {
    margin-right: 0;
  }

    a{
      color: #61666B;
      font-style: normal;
      font-weight: 300;
    }

  svg {
    fill: #61666B;
  }
}