.header {
  padding-top: 38px;
  padding-bottom: 78px;
  margin-bottom: 75px;
  background: linear-gradient(180deg, rgba(18, 25, 32, 0.95) 0%, rgba(18, 25, 32, 0.00) 100%);

  @media (max-width: $extra-large) {
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .flex__wrapper {
    align-items: center;

    @media (max-width: $small) {
      gap: 20px;
      justify-content: center;
    }
  }
}

.header__phone {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  margin-right: 32px;

  @media (max-width: $medium) {
    margin-right: 0;
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
}