.services {
  padding-bottom: 20px;

  h2 {
    margin-bottom: 33px;
  }

  @media (max-width: $xlarge) {
    .flex__wrapper {
      justify-content: center;
      gap: 30px;
    }
  }
}

.services__item {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  min-height: 380px;
  border-radius: 5px;
  border: 1px solid #1B242D;
  padding: 34px 24px 24px;
  transition: 0.5s;

  @media (max-width: $medium) {
    max-width: 500px;
    min-height: auto;
  }

  &:hover {
    background-color: $secondary-color;
    color: $bg-color;
    transition: 0.5s;

    .services__title {
      color: $bg-color;
    }

    .services__text {
      color: $bg-color;
    }

    svg {
      fill: $bg-color;
    }
  }
}

.services__title {
  margin: 24px 0;
  font-size: 20px;
  font-weight: 700;
}

.services__text {
  margin-bottom: 24px;
  color: $extra-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.3;

  &:last-child {
    margin-bottom: 0;
  }
}