//colors
$bg-color: #121920;
$font-color: #ffffff;
$extra-color: #88939E;
$secondary-color: #F8BE4D;

//breakpoints
$extra-small: 360px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1044px;
$xlarge: 1200px;
$xxlarge: 1440px;
$xxxlarge: 1920px;